@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Texto en blanco */
  --background-start-rgb: 255, 255, 255; /* Fondo inicial en blanco */
  --background-end-rgb: 255, 255, 255; /* Fondo final en blanco */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Texto en blanco (modo oscuro) */
    --background-start-rgb: 255, 255, 255; /* Fondo inicial en blanco (modo oscuro) */
    --background-end-rgb: 255, 255, 255; /* Fondo final en blanco (modo oscuro) */
  }
}

body {
  color: rgb(var(--foreground-rgb)); /* Color del texto */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); /* Fondo en blanco */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}